#icon
{
	color: #007588;
	font-size: 30px;
}

#border
{
	border: 2px solid #007588;
	border-radius: 10px;

}

.modalbg
{
	background-color: #007588;
	color: #fff;
}

.modal-header
{
	border-bottom: 0 none;
}

.modal-footer
{
	border-top: 0 none;
}

#img
{
	background-repeat: no-repeat;
	background-size: cover;
}