#icon
{
	color: #007588;
	font-size: 30px;
}

#border
{
	border: 2px solid #007588;
	border-radius: 10px;

}

.modalbg
{
	background-color: #007588;
	color: #fff;
}

.modal-header
{
	border-bottom: 0 none;
}

.modal-footer
{
	border-top: 0 none;
}

#img
{
	background-repeat: no-repeat;
	background-size: cover;
}

#grad
{
	/*border: 3px solid;
  	border-image-source: ;
  	border-image-slice: 1;
  	border-radius: 10px;*/
  	background-image: linear-gradient(45deg, #D2FFFF,#79E7E7, #00AAAA, #007588);
}

body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex: 1 1 auto;
}


